<div id="route__index">
  <h1>Smash Bros. Theme Matches</h1>

  <p>This is a repository of custom rulesets to use with the Super Smash Bros. series of games by Nintendo.</p>

  <p>Something my friends and I enjoy when we get together to play Smash is to place rules and restrictions on matches.
     Restrictions require players to think creatively and outside the box. I hope you and your friends use this tool to
     spice up your matches!</p>

  <p>Find the full list of rulesets in the table below, or click the button right below to pick one at random!</p>

  <p>If you'd like to contribute your own rules, please click the "Fork me on Github" image above!</p>

  <div class="center-align">
    <div id="random-rule-container">
      <button {{action "pickRandomRuleset"}}>Randomize!</button>

      {{#if decidingRuleset}}
        <div>
          {{fa-icon "spinner" size="25" pulse=true}}
        </div>
      {{/if}}

      {{#if rulesetPicked}}
        <div>
          <h2 class="highlight">{{pickedRuleset.name}}</h2>
          <p>{{pickedRuleset.description}}</p>
        </div>
      {{/if}}
    </div>
  </div>

  <h2>All Rulesets</h2>

  <table>
    <tbody>
      {{#each model as |ruleset|}}
        <tr>
          <th>{{ruleset.name}}</th>
          <td>{{ruleset.description}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>